{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue dans social engineer
{% endblock %}
{% block content %}
<h1># learn-how-to-be-a-social-engineer</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : popular web scripting languages like Perl, Ruby, PHP, and Python provide taint analysis
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
<a href="/add_one_programminglanguage"> add one programminglanguage</a>